<header class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
    >
    <svg width="45" height="45" viewBox="0 0 69 79" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M68.2 41.16V59.06L34.1 78.75V57.28L49.61 48.33V27.71L68.2 41.16ZM34.1 0V21.47L18.59 30.42V51.04L0 37.59V19.69L34.1 0Z" fill="#00B0E5"/>
      <path d="M0 37.59L18.59 41.25V51.04L0 37.59Z" fill="#0083AC"/>
      <path d="M34.1 57.28L15.51 68.02L0 59.06V37.59L18.59 48.33L34.1 57.28Z" fill="#69CFEF"/>
      <path d="M68.2 41.16L49.61 37.5V27.71L68.2 41.16Z" fill="#0083AC"/>
      <path d="M68.2 19.69V41.16L49.61 30.42L34.1 21.47L52.7 10.73L68.2 19.69Z" fill="#69CFEF"/>
      </svg>
      
      <span class="ml-3 text-xl">ClipCatcher</span>
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      <a
        href=""
        class="mr-5 hover:text-gray-900 cutsom_identification {% if is_homepage %}p-3 text-white rounded-md bg-indigo-600{% endif %}"
        data-identification="home"
        >Home</a
      >
      <a
        href="#our-team"
        class="mr-5 hover:text-gray-900 cutsom_identification"
        data-identification="Our Team"
        >Our Team</a
      >
      <a
        href="#contact-us"
        class="mr-5 hover:text-gray-900 cutsom_identification"
        data-identification="Contact Us"
        >Contact Us</a
      >
    </nav>
    {% comment %}
    <button
      class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
    >
      Button
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-1"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    {% endcomment %}
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let elements = document.querySelectorAll(".cutsom_identification");

    elements.forEach(function (element) {
      element.addEventListener("click", function () {
        let identification = this.getAttribute("data-identification");
        elements.forEach(function (el) {
          el.classList.remove("bg-indigo-600");
          el.classList.remove("p-3");
          el.classList.remove("text-white");
          el.classList.remove("rounded-md");
        });
        // Add 'bg-red' class to the clicked element
        this.classList.add("bg-indigo-600");
        this.classList.add("p-3");
        this.classList.add("text-white");
        this.classList.add("rounded-md");
        // Do whatever you want with the identification data here
      });
    });
  });
</script>
